# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# =========================
# SQLite
# =========================
*.db
*.sqlite3

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# Coverage
# =========================
.coverage
htmlcov/

# =========================
# Mypy
# =========================
.mypy_cache/

# =========================
# Ruff
# =========================
.ruff_cache/

# =========================
# VSCode / IDEs
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build / distribution
# =========================
dist/
build/
*.egg-info/

# =========================
# Generated reports
# =========================
rel_vendas.txt
rel_clientes.txt
